<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
<bean id="v" class="wiprofsd.Validation"></bean>
<bean id="ba" class="wiprofsd.BeforeAdvisor"></bean>
<bean id="aa" class="wiprofsd.AfterAdvisor"></bean>
<bean id="bh" class="wiprofsd.BothAdvisor"></bean>
<bean id="ea" class="wiprofsd.ExceptionAdvisor"></bean>
<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="target" ref="v">
</property>
<property name="interceptorNames">
<list>
<value>bh</value>
</list>
</property>
</bean>
   
</beans>